@inherits BasePkmdsComponent

@if (Pokemon is not null &&
     AppState is
     {
         SaveFile:
         {
             Context: not
             (EntityContext.None or
             EntityContext.SplitInvalid or
             EntityContext.MaxInvalid),
             Generation: var saveGeneration
         },
         SelectedSlotsAreValid: true
     })
{
    <MudStack Row
              AlignItems="@AlignItems.Center"
              Spacing="1">
        <MudStack Style="flex: 1; min-width: 0;">
            <AutocompleteSelect T="@GameVersion"
                                Label="Origin Game"
                                @bind-Value="@Pokemon.Version"
                                @bind-Value:after="@OriginGameChanged"
                                Items="@OriginGameItems"
                                ToStringFunc="@(version => GameInfo.GetVersionName(version))"
                                Disabled="@(saveGeneration <= 2)"
                                For="@(() => Pokemon.Version)"/>
        </MudStack>
        @if (OriginMarkSpriteFileName is { } originSrc)
        {
            <MudImage Src="@originSrc"
                      Alt="Origin Mark"
                      title="Origin Mark"
                      Width="24"
                      ObjectFit="@ObjectFit.Contain"
                      ObjectPosition="@ObjectPosition.Center"/>
        }
        <LegalityIndicator
            Severity="@(GetCheckResult(CheckIdentifier.GameOrigin)?.Judgement ?? PKHeX.Core.Severity.Valid)"
            Message="@HumanizeCheckResult(GetCheckResult(CheckIdentifier.GameOrigin))"/>
    </MudStack>

    @if (Pokemon is IBattleVersion)
    {
        <MudStack Row
                  AlignItems="@AlignItems.Center"
                  Spacing="1">
            <MudStack Style="flex: 1; min-width: 0;">
                <AutocompleteSelect T="@GameVersion"
                                    Label="Battle Version"
                                    Value="@BattleVersionValue"
                                    ValueChanged="@(v => BattleVersionValue = v)"
                                    Items="@OriginGameItems"
                                    ToStringFunc="@GetBattleVersionText"/>
            </MudStack>
        </MudStack>
    }

    <MudStack Row
              AlignItems="@AlignItems.Center"
              Spacing="1">
        <MudStack Style="flex: 1; min-width: 0;">
            @* ReSharper disable once CSharpWarnings::CS8603 *@
            <MudAutocomplete T="@ComboItem"
                             Label="Met Location"
                             Variant="@Variant.Outlined"
                             @bind-Value:get="@GetMetLocation()"
                             @bind-Value:set="@(metLocation => Pokemon.MetLocation = (ushort)metLocation.Value)"
                             SearchFunc="@SearchMetLocations"
                             ToStringFunc="@(metLocation => metLocation?.Text)"/>
        </MudStack>
        <LegalityIndicator
            Severity="@(GetCheckResult(CheckIdentifier.Encounter)?.Judgement ?? PKHeX.Core.Severity.Valid)"
            Message="@HumanizeCheckResult(GetCheckResult(CheckIdentifier.Encounter))"/>
    </MudStack>

    @if (saveGeneration >= 3)
    {
        <MudStack Row
                  AlignItems="@AlignItems.Center"
                  Spacing="1">
            <MudStack Style="flex: 1; min-width: 0;">
                <AutocompleteSelect T="@byte"
                                    Label="Ball"
                                    @bind-Value="@Pokemon.Ball"
                                    @bind-Value:after="@OnBallChanged"
                                    Items="@BallItems"
                                    ToStringFunc="@GetBallText"
                                    For="@(() => Pokemon.Ball)">
                    <ItemTemplate Context="ballValue">
                        <MudStack Row>
                            <MudImage Src="@ImageHelper.GetBallSpriteFilename(ballValue)"
                                      Alt="@GetBallText(ballValue)"
                                      title="@GetBallText(ballValue)"
                                      ObjectFit="@ObjectFit.Contain"
                                      ObjectPosition="@ObjectPosition.Center"
                                      Width="22"
                                      Height="22"/>
                            <MudText>
                                @GetBallText(ballValue)
                            </MudText>
                        </MudStack>
                    </ItemTemplate>
                </AutocompleteSelect>
            </MudStack>
            @if (CurrentBallSpriteFileName is { } ballSrc)
            {
                <MudImage Src="@ballSrc"
                          Alt="@GetBallText(Pokemon.Ball)"
                          title="@GetBallText(Pokemon.Ball)"
                          Width="24"
                          ObjectFit="@ObjectFit.Contain"
                          ObjectPosition="@ObjectPosition.Center"/>
            }
            <LegalityIndicator
                Severity="@(GetCheckResult(CheckIdentifier.Ball)?.Judgement ?? PKHeX.Core.Severity.Valid)"
                Message="@HumanizeCheckResult(GetCheckResult(CheckIdentifier.Ball))"/>
            <InfoButton Title="@(ballInfo?.Name ?? GameInfo.FilteredSources.Balls.FirstOrDefault(b => b.Value == Pokemon?.Ball)?.Text ?? "Ball")">
                <MudText Typo="@Typo.body2">@(ballInfo is { Description: { Length: > 0 } desc }
                        ? desc
                        : "No description available.")</MudText>
            </InfoButton>
        </MudStack>
    }

    @if (saveGeneration >= 2)
    {
        <MudStack Row
                  AlignItems="@AlignItems.Center"
                  Spacing="1">
            <MudStack Style="flex: 1; min-width: 0;">
                <MudNumericField Label="Met Level"
                                 Variant="@Variant.Outlined"
                                 @bind-Value="@Pokemon.MetLevel"
                                 For="@(() => Pokemon.MetLevel)"/>
            </MudStack>
            <LegalityIndicator
                Severity="@(GetCheckResult(CheckIdentifier.Level)?.Judgement ?? PKHeX.Core.Severity.Valid)"
                Message="@HumanizeCheckResult(GetCheckResult(CheckIdentifier.Level))"/>
        </MudStack>
    }

    @if (Pokemon is IObedienceLevel)
    {
        <MudNumericField Label="Obedience Level"
                         T="byte"
                         Variant="@Variant.Outlined"
                         Value="@ObedienceLevelValue"
                         ValueChanged="@(v => ObedienceLevelValue = v)"
                         Min="@((byte)0)"
                         Max="@((byte)100)"/>
    }

    @if (ShowGroundTile)
    {
        <AutocompleteSelect T="@GroundTileType"
                            Label="Encountered On"
                            Value="@GetGroundTile()"
                            ValueChanged="@SetGroundTile"
                            Items="@GroundTileItems"
                            ToStringFunc="@GetGroundTileText"/>
    }

    @switch (saveGeneration)
    {
        case 2 when Pokemon is PK2:
            <AutocompleteSelect T="@MetTimeOfDay"
                                Label="Time of Day"
                                Value="@GetMetTimeOfDay"
                                ValueChanged="@SetMetTimeOfDay"
                                Items="@MetTimeOfDayItems"
                                ToStringFunc="@(timeOfDay => timeOfDay.ToString())"/>
            break;
        case >= 4:
            <label for="met-date">
                Met Date
            </label>
            <InputDate Type="@InputDateType.Date"
                       id="met-date"
                       @bind-Value="@Pokemon.MetDate"/>
            break;
    }

    @if (saveGeneration >= 4)
    {
        <HapticCheckBox Label="This Pokémon was met as an Egg"
                        T="@bool"
                        Value="@PokemonMetAsEgg"
                        ValueChanged="@MetAsEggChanged"
                        For="@(() => Pokemon.FatefulEncounter)"/>
    }

    @if (saveGeneration >= 4 && PokemonMetAsEgg)
    {
        @* ReSharper disable once CSharpWarnings::CS8603 *@
        <MudAutocomplete T="@ComboItem"
                         Label="Egg Met Location"
                         Variant="@Variant.Outlined"
                         @bind-Value:get="@GetEggMetLocation()"
                         @bind-Value:set="@(metLocation => Pokemon.EggLocation = (ushort)metLocation.Value)"
                         DebounceInterval="200"
                         SearchFunc="@SearchEggMetLocations"
                         ToStringFunc="@(metLocation => metLocation?.Text)"/>

        <label for="egg-met-date">
            Egg Met Date
        </label>
        <InputDate Type="@InputDateType.Date"
                   id="egg-met-date"
                   @bind-Value="@Pokemon.EggMetDate"/>
    }

    <HapticCheckBox T="@bool"
                    Label="Is Egg"
                    @bind-Value="@Pokemon.IsEgg"
                    @bind-Value:after="@RefreshService.Refresh"
                    For="@(() => Pokemon.IsEgg)"/>

    @if (saveGeneration >= 3)
    {
        <HapticCheckBox T="@bool"
                        Label="Fateful Encounter"
                        @bind-Value="@Pokemon.FatefulEncounter"
                        For="@(() => Pokemon.FatefulEncounter)"/>
    }
}
