@inherits BasePkmdsComponent

@switch (AppState.SaveFile)
{
    case SAV7b { Context: EntityContext.Gen7b }:
        <MudAlert Severity="@Severity.Warning">
            Badges are not supported for this save file. See
            <a href="https://github.com/codemonkey85/PKMDS-Blazor/issues/59"
               target="_blank"
               style="text-decoration: underline">issue #59</a> for more information.
        </MudAlert>
        break;
    case SAV9SV { Context: EntityContext.Gen9 }:
        <MudAlert Severity="@Severity.Warning">
            Badges are not supported for this save file. See
            <a href="https://github.com/codemonkey85/PKMDS-Blazor/issues/60"
               target="_blank"
               style="text-decoration: underline">issue #60</a> for more information.
        </MudAlert>
        break;
    case SAV1 { Context: EntityContext.Gen1 }:
    case SAV2 { Context: EntityContext.Gen2 }:
    case SAV3RS { Context: EntityContext.Gen3 }:
    case SAV3FRLG { Context: EntityContext.Gen3 }:
    case SAV3E { Context: EntityContext.Gen3 }:
    case SAV4DP { Context: EntityContext.Gen4 }:
    case SAV4Pt { Context: EntityContext.Gen4 }:
    case SAV4HGSS { Context: EntityContext.Gen4 }:
    case SAV5BW { Context: EntityContext.Gen5 }:
    case SAV5B2W2 { Context: EntityContext.Gen5 }:
    case SAV6XY { Context: EntityContext.Gen6 }:
    case SAV6AO { Context: EntityContext.Gen6 }:
    case SAV8SWSH { Context: EntityContext.Gen8 }:
    case SAV8BS { Context: EntityContext.Gen8 }:
        <MudGrid Justify="@Justify.Center">
            @{
                var badges = GetSaveFileBadgesValue();
                var badgeInfos = GetBadgeInfos();
            }
            @for (var i = 0; i < badges.Count; i++)
            {
                var badgeIndex = i;
                var obtained = badges[badgeIndex];
                var info = badgeIndex < badgeInfos.Count ? badgeInfos[badgeIndex] : null;
                var imgStyle = obtained ? "width: 48px; height: 48px; object-fit: contain;" : "width: 48px; height: 48px; object-fit: contain; filter: grayscale(100%) opacity(0.4);";
                var textStyle = obtained ? "margin-top: 4px;" : "margin-top: 4px; color: var(--mud-palette-text-disabled);";
                <MudItem xs="6" sm="3" md="2">
                    <div style="display: flex; flex-direction: column; align-items: center; cursor: pointer; user-select: none; padding: 4px;"
                         @onclick="@(() => OnBadgeToggle(badgeIndex))">
                        @if (info is not null)
                        {
                            <img src="@info.SpriteUrl"
                                 alt="@info.Name"
                                 style="@imgStyle" />
                            <MudText Typo="Typo.caption"
                                     Align="Align.Center"
                                     Style="@textStyle">
                                @info.Name
                            </MudText>
                        }
                        else
                        {
                            <MudCheckBox Label="@($"Badge {badgeIndex + 1}")"
                                         T="@bool"
                                         Value="@obtained"
                                         ValueChanged="@(_ => OnBadgeToggle(badgeIndex))" />
                        }
                    </div>
                </MudItem>
            }
        </MudGrid>
        break;
}
