@inherits RefreshAwareComponent

@if (AppState.SaveFile is { } saveFile)
{
    <div class="@BoxGridClass">
        @for (var i = 0; i < saveFile.BoxSlotCount; i++)
        {
            var slotNum = i;
            var pkm = saveFile.GetBoxSlotAtIndex(BoxNumber, slotNum);

            <BoxSlotComponent BoxNumberParam="@BoxNumber"
                              SlotNumber="@slotNum"
                              Pokemon="@pkm"
                              OnSlotClick="@(() => SetSelectedPokemon(pkm, BoxNumber, slotNum))"
                              GetClassFunction="@(() => GetClass(slotNum))"/>
        }
    </div>
}
