@inherits RefreshAwareComponent

@if (AppState is { SaveFile: { } saveFile, BoxEdit: { } boxEdit })
{
    if (saveFile.Version is not GameVersion.RSBOX)
    {
        <PartyGrid/>
    }

    @if (saveFile.Version is GameVersion.LG or GameVersion.GP or GameVersion.GE)
    {
        <LetsGoBoxComponent/>
    }
    else
    {
        <div class="flex m-[5px] p-[5px] items-center h-[50px]">
            <MudIconButton OnClick="@GoToPreviousBox"
                           title="Previous Box"
                           ButtonType="@ButtonType.Button"
                           Icon="@Icons.Material.Filled.ArrowLeft"
                           Variant="@Variant.Filled"
                           Class="m-1.5 p-1.5">
            </MudIconButton>

            <div class="flex-1 min-w-0 m-1.5 p-1.5">
                <MudSelect Value="@boxEdit.CurrentBox"
                           ValueChanged="@(newBox => OnBoxChanged(newBox))"
                           Class="m-1.5 p-1.5">
                    @for (var boxId = 0; boxId < saveFile.BoxCount; boxId++)
                    {
                        var localBoxId = boxId;

                        var boxName = saveFile is IBoxDetailNameRead boxDetailNameRead
                            ? boxDetailNameRead.GetBoxName(localBoxId)
                            : string.Empty;

                        <MudSelectItem Value="@localBoxId"
                                       @key="@localBoxId">
                            @($"Box {localBoxId + 1}: {boxName} ({GetBoxPokemonCount(localBoxId)}/{saveFile.BoxSlotCount})")
                        </MudSelectItem>
                    }
                </MudSelect>
            </div>

            <MudIconButton OnClick="@GoToNextBox"
                           title="Next Box"
                           ButtonType="@ButtonType.Button"
                           Icon="@Icons.Material.Filled.ArrowRight"
                           Variant="@Variant.Filled"
                           Class="m-1.5 p-1.5">
            </MudIconButton>

            <MudIconButton OnClick="@OpenBoxLayoutDialog"
                           title="Edit box layout"
                           ButtonType="@ButtonType.Button"
                           Icon="@Icons.Material.Filled.GridView"
                           Variant="@Variant.Filled"
                           Class="m-1.5 p-1.5">
            </MudIconButton>

            <MudIconButton OnClick="@OpenBoxListDialog"
                           title="All Boxes"
                           ButtonType="@ButtonType.Button"
                           Icon="@Icons.Material.Filled.ViewModule"
                           Variant="@Variant.Filled"
                           Class="m-1.5 p-1.5">
            </MudIconButton>

            <MudIconButton OnClick="@TogglePinCurrentBox"
                           title="@(AppState.PinnedBoxNumber == boxEdit.CurrentBox
                                      ? "Unpin Box"
                                      : "Pin Box")"
                           ButtonType="@ButtonType.Button"
                           Icon="@(AppState.PinnedBoxNumber == boxEdit.CurrentBox
                                     ? Icons.Material.Filled.PushPin
                                     : Icons.Material.Outlined.PushPin)"
                           Variant="@Variant.Filled"
                           Class="m-1.5 p-1.5">
            </MudIconButton>
        </div>

        <BoxComponent BoxNumber="@boxEdit.CurrentBox"/>
    }
}
